.navmenu {
    text-align: center;
}

.navmenu li {
    list-style-type: none;    
}

.navmenu a {
   display: inline-block;     
   position: relative;    
   z-index: 1;     
   padding-bottom: 100px;     
   margin: -2em;
   color: blue;
   text-decoration: none;
   text-transform: uppercase;
}    