<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <a href="/">Back</a>
    
    <h2>Book</h2>

    <form action="/book_uploader" method="POST" enctype = "multipart/form-data">

      From
      <p>
        <input type="text" name="perc_from" placeholder="50"/>
      </p>
      To
      <p>
        <input type="text" name="perc_to" placeholder="50"/>
      </p>
      Book
      <p>
        <input type = "file" name = "file" />
      </p>
      
      <input type="submit" value="Audio"/>
    </form>
  </body>
</html>