<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <a href="/">Back</a>
    
    <h2>Blood Type</h2>

    <a href="/btype/a">A</a> &nbsp;
    <a href="/btype/b">B</a> &nbsp;
    <a href="/btype/0">0</a> &nbsp;
    <a href="/btype/AB">AB</a> &nbsp;
    
    <br/><br/>
    {% for x in res %}    
    {{ x }} <br/>
    {% endfor %}
    
  </body>
</html>
