<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <a href="/">Back</a>
    
    <h2>Celeb</h2>
    
    <form class="form-inline" action="/celeb_search" method="POST">
      <p><input type="keyword" name="keyword" placeholder="keyword"/></p>
      <input type="submit" value="Search"/>      
    </form>
    
    {% for x in data %}
      <br/>
      {{x}}
    {% endfor %}    
      

    
  </body>
</html>
