<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0"/>
  </head>
  
  <body>

    <h3>SP500</h3>

    <p>Change: {{c1}}</p>
    
    <img src="/{{ location1 }}"/>

    <h3>Dollar</h3>
    
    <p>Change: {{c2}}</p>
    
    <img src="/{{ location2 }}"/>

    
    <h3>Oil</h3>

    <p>Change: {{c3}}</p>

    <img src="/{{ location3 }}"/>

    <h3>10YR</h3>

    <p>Change: {{c4}}</p>
        
    <img src="/{{ location4 }}"/>

  </body>
  
</html>
