<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
  </head>
  <script>
    var lat = "lat";
    var lon = "lon";
    function getLocation() {
       navigator.geolocation.getCurrentPosition(setPosition);  
    }  
    function setPosition(position) {
      lat = position.coords.latitude;
      lon = position.coords.longitude;
      document.getElementById("locpos").innerHTML = lat + " " + lon;  
      document.getElementById("myloc").href="location/" + lat + ";" + lon;      
    }
</script>
<body onload="init()">

  <div class="navmenu">
    <nav>
      <div id="locpos">
        <p></p>
      </div>      
      <ul>
        <li><a id="grab" href="#" onclick='getLocation()'>Get Location</a></li>
        <li><a id="myloc" href="/location/32324">My Location</a></li>
        <li><a id="np" href="#"'>National Parks</a></li>
        <li><a id="camp" href="">Campsites</a></li>
      </ul>
    </nav>
  </div>

</html>

