<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

    <div class="navmenu">
      <nav>
        <div id="locpos">
          <p></p>
        </div>      
        <ul>
          <li>
            {{ loc }} {{elev}}
          </li>
          <li><a id="myloc" href="/location">My Location</a></li>
          <li><a id="sites" href="/static/sites.html">Sites</a></li>
          <li><a id="food" href="/food_main">Foods</a></li>
          <li><a id="profile" href="/profile_main">Profile</a></li>
          <li><a id="weather" href="/weather">Weather</a></li>
          <li><a id="news" href="/news">News</a></li>
          <li><a id="trace" href="/trace">Trace</a></li>
          <li><a id="trails" href="/trails">Trails</a></li>
          <li><a id="time" href="/time">Time</a></li>
          <li><a id="lineelev" href="/lineelev">Line Elevation</a></li>
          <li><a id="finance" href="/finance/180">Finance</a></li>
          <li><a id="book" href="/book/yes">Book</a></li>
          <li><a id="mapset" href="/mapset">Choose Map</a></li>
          <li><a id="reset" href="/reset/none">Reset</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
