<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

    <div class="navmenu">
      <nav>
        <div id="locpos">
          <p></p>
        </div>      
        <ul>
          <li>
            {{ loc }}
          </li>
          <li><a id="myloc" href="/location">My Location</a></li>
          <li><a id="np" href="/parks">National Parks</a></li>
          <li><a id="camp" href="/camps">Campsites</a></li>
          <li><a id="food" href="/food_main">Foods</a></li>
          <li><a id="profile" href="/profile_main">Profile</a></li>
          <li><a id="weather" href="/weather">Weather</a></li>
          <li><a id="news" href="/news">News</a></li>
          <li><a id="trace" href="/trace">Trace</a></li>
          <li><a id="city" href="/city">Search City / Town</a></li>
          <li><a id="place" href="/place">Search Place</a></li>
          <li><a id="trails" href="/trails">Trails</a></li>
          <li><a id="mapset" href="/mapset">Choose Map</a></li>
          <li><a id="reset" href="/static/reset.html">Reset Log</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
