<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta http-equiv="refresh" content="{{refresh}}"/>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0"/>

  </head>
  
  <body>
    <a href="/">Back</a>
    <br/>    
    
    <div id="arrows2">
      <form method="POST" action="/location_nav_action">
        <p><input name="action" value="↑" class="imgbtn" type="submit"/></p>
        <p>
          <input name="action" value="←" class="imgbtn" type="submit"/>
          <input name="distance" value="10" type="text"/>
          <input name="action" value="→" class="imgbtn" type="submit"/>
        </p>
        <input name="action" value="↓" class="imgbtn" type="submit"/>
      </form>
    </div>
    <a href="https://www.google.com/maps/@{{lat}},{{lon}},17z">GM</a>&nbsp; &nbsp;
    <a href="/flattestroute/{{lat}};{{lon}}">FR</a>&nbsp; &nbsp;
    <a href="/gotopo/{{lat}};{{lon}}">Topo</a>&nbsp; &nbsp;
    <a href="/goweather/{{lat}};{{lon}}">Weather</a>
    <br/>
    {% if bearing %} 
    <div>
      Distance <div id='distance'>{{distance}}</div> km,
      bearing <div id='bearing'>{{bearing}}</div>
    </div>
    {% endif %}

    <p>
      Movement direc (dist: bearing)<br/>
      {{ walking }}
    </p>
    
    <p>
      Estimated elevation: {{elev}}
    </p>
    
    <img src="/{{ location }}"/>

  </body>
  
</html>
