<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body
      <form method="POST" action="/test_action">      
        <div id="arrows1">
          <p><input name="action" value="btnup" class="imgbtn" type="image" src="/static/arrow_up.png"/></p>
          <p>
            <input name="action" value="btnleft" class="imgbtn" type="image" src="/static/arrow_left.png"/>
            <input name="distance" value="10" type="text"/>
            <input name="action" value="btnright" class="imgbtn" type="image" src="/static/arrow_right.png"/>
          </p>
            <input name="action" value="btndown" class="imgbtn" type="image" src="/static/arrow_down.png"/>
        </div>
      </form>

      <form method="POST" action="/test_action">      
        <div id="arrows2">
          <p><input name="action" value="↑" class="imgbtn" type="submit"/></p>
          <p>
            <input name="action" value="←" class="imgbtn" type="submit"/>
            <input name="distance" value="10" type="text"/>
            <input name="action" value="→" class="imgbtn" type="submit"/>
          </p>
            <input name="action" value="↓" class="imgbtn" type="submit"/>
        </div>
      </form>


      
  </body>
</html>