<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" charset="utf-8">
      function fillGarantiPos(){
        document.getElementById('keyword').value="garanti";
        document.getElementById('type').value="pos";
      }
      function fillIndian(){
        document.getElementById('keyword').value="indian";
        document.getElementById('type').value="restaurant";
      }
      function fillMall(){
        document.getElementById('keyword').value="AVM";
        document.getElementById('type').value="shopping";
      }
    </script>
  </head>
  <body>
    <a href="/">Back</a>
    <br/>    
    <h2>Place Search</h2>
    <br/>    
    <a href="#" onClick="fillGarantiPos(); return true;">POS</a>&nbsp;
    <a href="#" onClick="fillIndian(); return true;">Hint</a>&nbsp;
    <a href="#" onClick="fillMall(); return true;">Mall</a>&nbsp;
    <br/>        
    <br/>        
    <form class="form-inline" action="/place_search" method="POST">

      <input type="text" id="radius" name="radius" placeholder="1500" value="1500"/>
      <input type="text" id="keyword" name="keyword" placeholder="keyword"/>
      <input type="text" id="type" name="type" placeholder="type (restaurant, gallery)"/>
      <input type="submit" value="Search"/>

      {% for x in data %}
         <br/>{{x[3]}},
         <a href="/gogeo/{{x[1]}};{{x[2]}}">{{x[0]}}</a>
      {% endfor %}    
      
    </form>
  </body>
</html>
