<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <a href="/">Back</a>
    
    <h2>POI</h2>

    <form class="form-inline" action="/poi_search" method="POST">

      <input type="text" name="name"/>
      <input type="submit" value="Search"/>

      {% for x in data %}
         <br/>
         <br/>
         {% if 'Polygon' in x[0] %}
            {{x[0]}} &nbsp; {{x[1]}} &nbsp; {{x[2]}} &nbsp; {{x[3]}} &nbsp;{{x[4]}} 
         {% endif %}    
         {% if 'Single' in x[0] %}
           {{x[0]}} {{x[1]}} {{x[2]}} {{x[3]}}  {{x[4]}} 
         {% endif %}    
      {% endfor %}    
      
    </form>
  </body>
</html>
