{{res['spiller_tr']}}
<br/><br/>

{{res['spiller_en']}}
<br/><br/>

{% for x in res['lewi'] %} 
   https://raw.githubusercontent.com/burakbayramli/kod/master/guide/doc/details/lewi/{{x}}.html
   <br/><br/>
{% endfor %}        

https://raw.githubusercontent.com/burakbayramli/kod/master/guide/doc/details/spiller/{{res['spiller']}}.html
<br/><br/>

https://raw.githubusercontent.com/burakbayramli/kod/master/guide/doc/details/millman/{{res['millman'][0]}}{{res['millman'][1]}}.txt
<br/><br/>

https://raw.githubusercontent.com/burakbayramli/kod/master/guide/doc/details/chinese/{{res['chinese']}}.html
    
