<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <a href="/">Back</a>
    
    <h2>Profile</h2>

    <form class="form-inline" action="/profile" method="POST">

      <p><input type="text" name="day" placeholder="DD"/></p>
      <p><input type="text" name="mon" placeholder="MM"/></p>
      <p><input type="text" name="year" placeholder="YYYY"/></p>
      <input type="submit" value="Profile"/>      
    </form>

    <p>Lewi</p>
    
    {% for x in res['lewi'] %}    
    <a href="#/{{x}}">{{x}}</a>
    {% endfor %}        

    <p>Spiller</p>
    
    <a href="{{res['spiller']}}">{{res['spiller']}}</a>

    <p>Millman</p>
    
    <a href="{{res['millman'][0]}}{{res['millman'][1]}}">{{res['millman'][0]}}/{{res['millman'][1]}}</a>

    <p>Chinese</p>
    
    <a href="{{res['chinese']}}">{{res['chinese']}}</a>
    
    
  </body>
</html>