<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <a href="/">Back</a>
    <header class="w3-container">
      <h1>Trails</h1>
    </header>

    <div id="arrows2">
      <form method="POST" action="/trails_nav_action">      
        <p><input name="action" value="↑" class="imgbtn" type="submit"/></p>
        <p>
          <input name="action" value="←" class="imgbtn" type="submit"/>
          <input name="distance" value="10" type="text"/>
          <input name="action" value="→" class="imgbtn" type="submit"/>
        </p>
        <input name="action" value="↓" class="imgbtn" type="submit"/>
      </form>
    </div>

    <p>
      <a href="{{link}}">Link</a>
    </p>

      {% for x in disp %}
         <br/>
         {{x}}
      {% endfor %}    
    
    <img src="/{{ location }}"/>
    
  </body>
</html>
