.navmenu {
    text-align: center;
}

.navmenu li {
    list-style-type: none;    
}

.navmenu a {
   display: inline-block;     
   position: relative;    
   padding-top: 50px;     
   padding-bottom: 50px;     
   color: blue;
   text-decoration: none;
   text-transform: uppercase;
}


