.navmenu #enterLoc input {
    display:none;
}
.navmenu {
    text-align: center;
}

.navmenu li {
    list-style-type: none;    
}

.navmenu a {
   display: inline-block;     
   position: relative;    
   padding-top: 50px;     
   padding-bottom: 50px;     
   color: blue;
   text-decoration: none;
   text-transform: uppercase;
}

#arrows1 {
    text-align: center;    
}

#arrows1 img {
    height: 20px;
}

#arrows2 {
    text-align: center;    
}

#arrows2 input {
    width: 40px;
    height: 40px;
}
.imgbtn {
    height: 20px;
}

