<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <a href="/">Back</a>
    
    <h2>Amenities</h2>
    
    <form class="form-inline" action="/amenities" method="POST">

      <input size="5" type="text" name="amenity_dist" value="1000"> km &nbsp;

      Type:      
      <select name="amenity_type" method="POST">
        <option value= ""></option>"
        <option value= "cafe">Cafe</option>"
        <option value= "gas">Gas Station</option>"
        <option value= "atm">ATM</option>"
        <option value= "camp">Camping</option>"
      </select>
      &nbsp;
      Name:
      <input type="text" name="amenity_name" </p>
      <input type="submit" value="Go"/>
      
    </form>

            
  </body>
</html>
