<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/" />
  </head>
  <body>
    <a href="/">Back</a>
    <br/>    
    <h2>Book Search</h2>
    <form class="form-inline" action="/book_search" method="POST">
      <input type="text" id="keyword" name="keyword" placeholder="keyword"/>
      <input type="submit" value="Search"/>

      {% for x in data %}
         <br/><a href="{{base}}{{x}}">{{x}}</a>
      {% endfor %}    
      
    </form>
  </body>
</html>
