<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <a href="/">Back</a>
    
    <h2>City / Town</h2>

    <form class="form-inline" action="/city_search" method="POST">

      <input type="text" name="name" placeholder="City or town"/>
      <input type="submit" value="Search"/>

      {% for x in data %}
         <br/>
         {{x[1]}} <a href="/gogeo/{{x[5]}};{{x[6]}}">{{ x[5] }} {{ x[6] }}</a> {{ x[9] }} ({{ x[3] }})
      {% endfor %}    
      
    </form>
  </body>
</html>