<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <a href="/">Back</a>
    
    <h2>Line Elevation</h2>
    
    <form class="form-inline" action="/elev_line_calc" method="POST">
      
      <p><input type="text" name="lat2" </p>
      <p><input type="text" name="lon2" </p>
      <input type="submit" value="Go"/>
      
    </form>

            
  </body>
</html>
