<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<script>
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } 
}
function setLocOnPage(lat,lon){
  document.getElementById("myloc").href = "/location/" + lat  + ";" + lon+"/0.4";
  document.getElementById("locpos").innerHTML = lat  + "," + lon;
  document.getElementById("trav").href = "/travel_maps/" + lat  + ";" + lon+"/4";
  document.getElementById("trav_smgeo").href = "/travel_maps_smgeo/" + lat  + ";" + lon+"/0.05";  
}
function readLocInput() {
  var pos = document.getElementById("locValue").value;
  var lat = pos.split(",")[0];
  var lon = pos.split(",")[1];
  setLocOnPage(lat,lon);
}
function showPosition(position) {
  setLocOnPage(position.coords.latitude,position.coords.longitude);
}
</script>
    
  <body>

    <div class="navmenu">
      <nav>
        
        <div id="locpos">
           
        </div>
        
        <ul>          
          <p><button onclick="getLocation()">Get Location</button></p>
          <li><a id="myloc" href="/location/40.9544103535;29.09139109510/0.1">My Location</a></li>
          <li><a id='trav' href="/travel_maps/40.9544103535;29.09139109510/4">Travel</a></li>
          <li><a id='trav_smgeo'
                 href="/travel_maps_smgeo/40.9544103535;29.09139109510/0.05">Travel SMGeo</a></li>
          <li><a id="profile" href="/profile_main">Profile</a></li>
          <li><a id='elev'
                 href="/plot_elev/40.9544103535;29.09139109510/0.05">Elevation</a></li>
          <li><a id="profile" href="/profile_main">Profile</a></li>
          <p>
            <p><button onclick="readLocInput()">Enter Location</button></p>
            <p><input type="text" id="locValue" ></input></p>
          </p>
        </ul>
      </nav>
    </div>
  </body>
</html>
