<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<script>
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } 
}
function setLocOnPage(lat,lon){
  document.getElementById("myloc").href = "/location/" + lat  + ";" + lon+"/0.4";
  document.getElementById("locpos").innerHTML = lat  + "," + lon;
  document.getElementById("trav").href = "/travel_main/" + lat  + ";" + lon;
  document.getElementById("weat").href = "/goweather/" + lat  + ";" + lon;
  document.getElementById("pollu").href = "/gopollution/" + lat  + ";" + lon;
  document.getElementById("time").href = "/time/" + lat  + ";" + lon;
  document.getElementById("elev").href = "/plot_elev/" + lat  + ";" + lon+"/0.05/50/20";
  document.getElementById("elev1").href = "/gotopo2/" + lat  + ";" + lon+"/1";
  document.getElementById("elev2").href = "/gotopo2/" + lat  + ";" + lon+"/5";
  document.getElementById("elev3").href = "/gotopo2/" + lat  + ";" + lon+"/10";
  document.getElementById("elev4").href = "/gotopo2/" + lat  + ";" + lon+"/20";
  document.getElementById("elev5").href = "/elev_line_main/" + lat  + ";" + lon+"/20";
  document.getElementById("wind1").href = "/gowind/" + lat  + ";" + lon+"/0/100";
  document.getElementById("wind2").href = "/gowind/" + lat  + ";" + lon+"/4/100";
  document.getElementById("wind3").href = "/gowind/" + lat  + ";" + lon+"/8/100";
  document.getElementById("wind4").href = "/gowind/" + lat  + ";" + lon+"/16/100";
  document.getElementById("directions").href = "/directions_main/" + lat  + ";" + lon;
  document.getElementById("amenities").href = "/amenities_main/" + lat  + ";" + lon;
}
function readLocInput() {
  var pos = document.getElementById("locValue").value;
  var lat = pos.split(",")[0];
  var lon = pos.split(",")[1];
  lat = lat.replace(" ","")
  lon = lon.replace(" ","")
  setLocOnPage(lat,lon);
}
function showPosition(position) {
  setLocOnPage(position.coords.latitude,position.coords.longitude);
}
</script>
    
  <body>

    <div class="navmenu">
      <nav>
        
        <div id="locpos">
           
        </div>
        
        <ul>          
          <p><button onclick="getLocation()">Get Location</button></p>
          <li><a href="/edit_tweet">Edit</a></li>
          <li><a href="/extnews">News</a>, <a href="/extmasto">Social</a></li>
          <li><a id="weat" href="/goweather/40.9544;29.09139">Weather</a></li>
          <li><a id="pollu" href="/gopollution/40.9544;29.09139">Pollution</a></li>
          <li><a href="/book">Loogle/Recoll</a></li>
          <li><a href="/market">Market</a></li>
          <li><a href="/url">Lynx</a></li>
          <li><a id="myloc" href="/location/40.9544;29.09139/0.1">My Location</a></li>
          <li><a id='trav' href="/travel_main/40.9544;29.09139">Trip Map</a></li>
          <li>Elevation </li>
          <li><a id="elev1" href="/gotopo2/40.9544;29.09139/1">
              1 km
            </a>,&nbsp;
            <a id="elev2" href="/gotopo2/40.9544;29.09139/5">
              5 
            </a>,&nbsp;
            <a id="elev3" href="/gotopo2/40.9544;29.09139/10">
              10 
            </a>,&nbsp;
            <a id="elev4" href="/gotopo2/40.9544;29.09139/20">
              20 
            </a>,&nbsp;
            <a id="elev" href="/plot_elev/40.9544;29.09139/0.05/50/20">
              Local
            </a>,&nbsp;
            <a id="elev5" href="/elev_line_main/40.9544;29.09139">
              Line
            </a> 
          </li>
          <li>
             <a href="/static/trgeo.html">Camps, Parks</a>
          </li>
          <a id="time" href="/time/40.9544;29.09139">Calendar</a>
          <li>
            Wind &nbsp;
            <a id="wind1" href="/gowind/40.9544;29.09139/0/100">Now</a>,&nbsp;
            <a id="wind2" href="/gowind/40.9544;29.09139/4/100">12 hrs</a>,&nbsp;
            <a id="wind3" href="/gowind/40.9544;29.09139/8/100">24 hrs</a>,&nbsp;
            <a id="wind4" href="/gowind/40.9544;29.09139/16/100">48 hrs</a> 
          </li>
          <li><a id="profile" href="/profile_main">Profile</a></li>
          <li><a id='directions' href="/directions_main/40.9544;29.09139">Directions</a></li>
          <li><a id='amenities' href="/amenities_main/40.9544;29.09139">Amenities</a></li>
          <p>
            <p><button onclick="readLocInput()">Enter Location</button></p>
            <p><input type="text" id="locValue" ></input></p>
          </p>
        </ul>
      </nav>
    </div>
  </body>
</html>
