<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <a href="/">Back</a>
    
    <h2>Profile</h2>

    <form class="form-inline" action="/profile" method="POST">
      <p><input type="text" name="day" placeholder="day (example: 01)"/></p>
      <p><input type="text" name="mon" placeholder="month (example: 03)"/></p>
      <p><input type="text" name="year" placeholder="year (example: 1944)"/></p>
      <input type="submit" value="Profile"/>      
    </form>

    {% if res %} 
    
    <p>Lewi</p>

    {% for x in res['lewi'] %} 
    <a href="/guide/lewi/{{x}}">{{x}}</a>
    {% endfor %}        

    <p>Spiller</p>
    
    <a href="/guide/spiller/{{res['spiller']}}">{{res['spiller']}}</a>
    
    <br/><br/>
    
    <a href="{{res['spiller_tr']}}">TR</a>

    <br/><br/>
    
    <a href="{{res['spiller_en']}}">EN</a>

    <p>Millman</p>
    
    <a href="/guide/millman/{{res['millman'][0]}}{{res['millman'][1]}}">{{res['millman'][0]}}/{{res['millman'][1]}}</a>

    <p>Chinese</p>
    
    <a href="/guide/chinese/{{res['chinese']}}">{{res['chinese']}}</a>

    <p>Cycle</p>
    
    <a href="https://github.com/burakbayramli/kod/blob/master/guide/doc/details/millman/nineyearcycle.html">{{res['cycle']}}</a>
   
    <p>
      <a href="/profile_text/{{res['date']}}">URLs in Text Format</a>
    </p>
    
    {% endif %}
            
  </body>
</html>
