<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <a href="/">Back</a>
    
    <h2>Travel Directions</h2>
    
    <form class="form-inline" action="/travel_maps" method="POST">

      <select name="map" method="POST">
        <option value= ""></option>"
        <option value= "urla">urla</option>"
        <option value= "ihsaniye">ihsaniye</option>"
        <option value= "florya">florya</option>"
      </select>
      
      <input type="submit" name="action" value="View"/>
      <input type="submit" name="action" value="GPX"/>
      
    </form>

            
  </body>
</html>
