<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
    <script src="/static/responsivevoice.js" type="text/javascript" charset="utf-8"></script>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0"/>
    <script type="text/javascript" charset="utf-8">

    </script>
  </head>
  
  <body>
    <a href="/">Back</a>
    <br/>    
        
    <img src="/{{ fout1 }}"/>
    <br/>
    <img src="/{{ fout2 }}"/>
    <br/>
    <img src="/{{ fout3 }}"/>

  </body>
  
</html>
